<h1>Welcome to my profile</h1>

<div class="container-top">
    <div class="">
        <div class="">

            <div class="row">
                <div class="col-3">
                    <%= image_tag @user.image, :class => "img-fluid rounded" if @user.image.attached? %>
                </div>
                <div class="col-5">
                    <h4 class="center"><%= @user.name %></h4>
                    <h5 class="center"><%= @user.email %></h5>
                </div>
            </div>
            <br>
            <div class="divider"></div>

            <%= @post.each do |post| %>
            <br>
            <div class="row">
            <div class="card">
                <h4 class="card-title"><%= post.title%></h4>
                <p><%= post.content%></p>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div classsss="col"><a href="#" class="text-primary" style="text-decoration:none;"><i
                                    class="fa fa-thumbs-up" aria-hidden="true"></i> Me Gusta <small
                                    class="text-muted"></small></a></div>
                        <div class="col"><a style="text-decoration:none;" class="text-muted" data-toggle="collapse"
                                href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample"><i
                                    class="fa fa-comment-o" aria-hidden="true"></i> Comentar <small
                                    class="text-muted"></small></a>
                        </div>
                        <div class="col dropup">
                            <a href="#" class="dropdown-toggle text-muted" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style="text-decoration:none;"><i class="fa fa-share-square-o"
                                    aria-hidden="true"></i> Compartir</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Compartir Publico</a>
                                <a class="dropdown-item" href="#" id="a" data-toggle="modal"
                                    data-target="#exampleModal">Compartir</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" id="a1" data-toggle="modal"
                                    data-target="#exampleModal">Compartir con Amigos</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample1">
                        <br>
                    </div>
                    <% end %>
                </div>
                </div>

            </div>
        </div>
    </div>
