<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
        <nav class="be-red white large-padding">
          <ul class="no-list row center-xs middle-xs">

                  <%= image_tag("fa.png") %>
          </ul>
        </nav>
      </header>


<div class="container">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
  <div class="buttons">
    <button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
  </div>
  <% end %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= yield %>
    </div>


  </body>

</html>
