<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

  </head>
  <header>
    <!-- Image and text -->
<nav class="navbar navbar-light bg-primary">
<a class="navbar-brand" href="/">
  <%= image_tag("fa.png") %>
Acebook
</a>
<ul>
<% if user_signed_in? %>
  <button class="btn btn-dark"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
<% else %>
<a class="navbar-brand"><%= link_to "Sign Up", new_user_registration_path %></a>
<a class="navbar-brand"><%= link_to "Sign In", new_user_session_path %></a>
<% end %>
</ul>
</nav>
    </header>
  <body>
<!-- <div class="container"> -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
    <!-- </div> -->


  </body>

</html>
